build/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# Visual Studio Code
.[Vv][Ss]/
.vscode/

# CLion
cmake-build-*/
.idea/

*.pyc
*.so
*.o
*.a
*.dll
*.exe